.cache
.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.pytest_cache/*
.tox
*.egg-info
*.pyc
*.swo
*.swp
bin
build
dev
develop-eggs
dist
eggs
geckodriver.log
htmlcov
lib
parts
pytestdebug.log
pyvenv.cfg
tmp_*xml
